body{background: #ffffff;}
.sectionArea
{
    padding
    : 80px 0;
}

#gallery{background-color: #886e49;}
.galleryTop{text-align: center;}
.gallerySlider{overflow: hidden;width: 100%;margin:0 auto}
.gallerySliderItem{width: 300%; position:relative;z-index: 9;;left: 0;animation: slideAnimation 15s infinite; }
.gallerySliderItem img{width: 33.33%;float: left;height: auto;}
.container2{width: 90%; display: flex; margin: 0 auto;}
@keyframes slideAnimation
{
0%{left: 0;}
25%{left: -100%;}
50%{left: -200%;}
75%{left: -100%;}
100%{left:  0%;}
}

.sectionArea
{
    padding: 80px 0;
}

#inspect{background-color: #f5f5f5;}
.inspectTop{text-align: center;}
.inspectBody .col2{display: flex;}
.inspectImage{width: 70%;}
.inspectImage img{width: 100%; height: auto;}
.inspectText{width: 30%;padding-left: 10px;}
.date{color:#333;font-size: 12px; font-style: italic;}
.col2{flex-grow: 1; width: 50%; padding: 50px;}